
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futurabookc.eot');
	src: local('☺'), url('../fonts/futurabookc.woff') format('woff'), url('../fonts/futurabookc.ttf') format('truetype'), url('../fonts/futurabookc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ref-hover {
	letter-spacing: 0.3em;
	-webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  	-webkit-transition-property: letter-spacing;
  	transition-property: letter-spacing;		
}

.ref-hover:hover {	
	letter-spacing: 0.4em;
	color: black;
}


body{	
	font-size: 16px;
	color: #252B42;
	font-weight: 500;
	font-family: 'Futura', sans-serif;	
	background: #ffffff;	
}

/*-------------------------------------------------------------------------------------*/

.wrapper{
	min-height: 100%;
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
	position: relative;
}

/*-----HEADER-------------------------------------------------------------------*/

.header {
	display: flex;
	padding: 18px 30px 20px;
	text-align: center;
	align-items:center;	
	justify-content: space-between;
	position: sticky;
	background-color: #ffffff;
	top: 0px;
	z-index: 10;
}

.header__body {	
	display: flex;	
	text-align: center;
	align-items:center;
	flex-direction: column;
	flex-basis: 70%		
}

.header-icon img{
	max-width: 25px;
	margin: 5px;
}

.header__logo {
	font-size: 19px;
	letter-spacing: 5px;
	margin: 5px;
	color: #3a3a3a;	
}

.header__menu {
	text-align: center;

}

.menu_list {
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top: 20px;	
}

.menu__item {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.menu__item:not(:last-child) {
	margin-right: 40px;
}


.main_block {
	flex: 1 1 auto;	
}

/*------ SLIDE BLOCK -------------------------------------------------*/

.slide_list {
	display: flex;	
}

.slide__item {}

.slide__img {	
	max-width: 100%;
}

/*------ COLLECTION BLOCK -------------------------------------------------*/

.collection__body {
	padding: 0 30px;
}


.collection__title {
	font-size: 18px;
	color: #868383;
	text-transform: uppercase;	
	margin: 5px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;	
}


.collection__items {	
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
	justify-content: center;
}


.column-collection {	
	flex: 0 1 25%;
	padding: 0 18px;
	/*padding: 0 30px 25px 0;	*/
}

@media (max-width: 1025px){
	.column-collection {
	flex: 0 1 50%;
	}
}

/*.collection__column:not(:last-child) {
	margin: 0 15px;	
}*/


.image-collection {
	border-radius: 20px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	-webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  	-webkit-transition-property: background-color;
  	transition-property: background-color;	
}

.image-collection:hover {
	background-color: rgb(197, 197, 197);
}


.image-collection img{
	max-width: 100%;
	/*min-width: 250px;	*/
}

.content-collection div{
	font-size: 13px;
	color: #868383;	
	padding-left: 10px;
}


.content-title {
	margin: 25px 0 15px 0;	
	text-transform: uppercase;	
}


.content-price {	
	margin-bottom: 25px;
}


/*------ FOOTER -------------------------------------------------*/

.footer {
	background-color: rgb(144, 255, 255);
}


