
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------------------------------------------------------------------------------*/

body{	
	font-size: 16px;
	color: #252B42;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;	
	background: #ffffff;
}

/*-------------------------------------------------------------------------------------*/

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}




/*-----HEADER-------------------------------------------------------------------*/

.header {
	display: flex;
	padding: 18px 50px 30px;
	text-align: center;
	align-items:center;
	flex-direction: column;
	background-color: #ffffff;
}

.header__logo {
	font-size: 19px;
	letter-spacing: 5px;
	margin: 5px;
}

.header__menu {
	text-align: center;

}

.menu_list {
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top: 20px;	
}

.menu__item {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.menu__item:not(:last-child) {
	margin-right: 25px;
}


.main_block {
	flex: 1 1 auto;	
}

/*------ SLIDE BLOCK -------------------------------------------------*/

.slide_list {
	display: flex;
	
}

.slide__item {}

.slide__img {
	max-width: 100%;
}

/*------ COLLECTION BLOCK -------------------------------------------------*/

.collection__block {
	padding: 0 50px;
}

/* ----- TODO нужно сделать хэдер*/

.collection__header {
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px;
	text-align: center;
	padding: 80px 50px 50px;
}

.collection__body {
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	justify-content: center;
}


.collection__column {	
	flex: 0 1 25%;
	padding: 0 15px;
	/*padding: 0 30px 25px 0;	*/
}


/*.collection__column:not(:last-child) {
	margin: 0 15px;	
}*/


.collection__image {
	border-radius: 20px;
	overflow: hidden;	
}

.collection__image img{
	max-width: 100%;
	min-width: 250px;	
}

/*@media (max-width: 1040px){*/


.collection__title {

}

.collection__price {}


/*------ FOOTER -------------------------------------------------*/

.footer {
	background-color: rgb(144, 255, 255);
}

.qwerty {
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
}



.qwerty__column {
	background-color: blanchedalmond;
	flex: 0 1 33.333%;
}

.qwerty__text {}

.qwerty__image {}

.qwerty__image img {
	max-width: 100%;
}